click==8.1.2
tqdm==4.64.0
edict==0.51
pyyaml==6.0
easydict==1.9
matplotlib==3.5.1

numpy==1.21.5
tensorboardX==2.5
tensorboard==2.8.0
protobuf==3.20.0

Levenshtein==0.18.1
requests==2.27.1
unidecode==1.3.4
sentencepiece==0.1.96
rouge_score==0.0.4
evaluate
transformers
cpufeature

gensim
nltk
yake
deepspeed
wget